html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body {line-height: 1;} ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;} table { border-collapse: collapse; border-spacing: 0; }


@font-face{
	font-family: "IBMplexSerif-Regular";
src: url("fonts/IBMPlexSerif-Regular.woff") format("woff"),
url("fonts/IBMPlexSerif-Regular.woff2") format("woff2"),
url("fonts/IBMPlexSerif-Regular.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: "IBMplexSerif-Italic";
src: url("fonts/IBMPlexSerif-Italic.woff") format("woff"),
url("fonts/IBMPlexSerif-Italic.woff2") format("woff2"),
url("fonts/IBMPlexSerif-Italic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: "IBMPlexMono-Regular";
src: url("fonts/IBMPlexMono-Regular.woff") format("woff"),
url("fonts/IBMPlexMono-Regular.woff2") format("woff2"),
url("fonts/IBMPlexMono-Regular.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: "IBMPlexSerif-MediumItalic";
src: url("fonts/IBMPlexSerif-MediumItalic.woff") format("woff"),
url("fonts/IBMPlexSerif-MediumItalic.woff2") format("woff2"),
url("fonts/IBMPlexSerif-MediumItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: bold;
}

body{
    background: #f4f4f4;
    cursor: crosshair;
    color: #000;
    margin: 0;
}

b, strong {
    font-family: "IBMPlexSerif-MediumItalic";
}

a, a:visited{
    font-family: "IBMplexSerif-Italic";
    font-style: italic;
    text-decoration: none;
    color: #000;
}

a:hover, a:active {
    color: ghostwhite;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(100,100,237,0.7), 0 0 3px cornflowerblue;
    cursor: ne-resize;
     } 

::selection {
    background-color: transparent;
    color: #f4f4f4;
    text-shadow: 1px 1px 1px #444, -1px -1px 1px white;
}

.col-text {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50vw;
}

.col-contact{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 50vw;
}
.text, .contact{
    font-family: "IBMplexSerif-Regular";
    font-size: 1.5em;
    line-height: 1.2;
    padding: 15px;
}

.col-img{
    position: relative;
    padding: 15px;
    z-index: 500;
    width: 25vw;
    margin: auto;
    margin-top: 25vh;
}
.col-img img, .col-img video{
    width: 100%;
    margin: auto;
    height: auto;
    padding-top: 15px;
}

figcaption{
   font-family: "IBMPlexMono-Regular";
   font-size: 0.7em;
   background-color: #f4f4f4;
   display: inline;
}

.col-contact figcaption{
    font-size: 0.5em;
    background-color: #f4f4f4;
    display: block;
 }

.col-contact figcaption a {
    font-family: "IBMPlexMono-Regular";
    text-decoration: dotted underline;
    font-style: normal;
}

.col-contact figcaption a:hover {
    cursor: sw-resize;
    color: cornflowerblue;
    text-shadow: none;
}

@media screen and (max-width: 768px){
    body{overflow: scroll; margin: 0;}
    main{
        position: fixed;
        top: 0;
        left: 0;
    }
    .col-text{
        width: 100vw;
        position: relative;
    }
    .col-img{
        width: 92%;
        margin-top: 50vh;
    }
    .col-contact{
        position: relative;
        width: 100%;
    }
    .contact{
        padding-top: 0;
    }

    img, video{
    max-width: 100%; 
    position: relative; 
    padding-top: 15px;
    max-height: 94vh;
    margin: auto;
    }
    figcaption{
        width: 92%;
        margin: auto;
    }
    .col-contact figcaption{
        width: 100%;
    }
}
