
@font-face{
	font-family: "IBMplexSerif-Regular";
src: url("fonts/IBMPlexSerif-Regular.woff") format("woff"),
url("fonts/IBMPlexSerif-Regular.woff2") format("woff2"),
url("fonts/IBMPlexSerif-Regular.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}


@font-face{
    font-family: "IBMplexSerif-Italic";
src: url("fonts/IBMPlexSerif-Italic.woff") format("woff"),
url("fonts/IBMPlexSerif-Italic.woff2") format("woff2"),
url("fonts/IBMPlexSerif-Italic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}


@font-face{
    font-family: "IBMPlexMono-Regular";
src: url("fonts/IBMPlexMono-Regular.woff") format("woff"),
url("fonts/IBMPlexMono-Regular.woff2") format("woff2"),
url("fonts/IBMPlexMono-Regular.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}


@font-face{
    font-family: "IBMPlexSerif-MediumItalic";
src: url("fonts/IBMPlexSerif-MediumItalic.woff") format("woff"),
url("fonts/IBMPlexSerif-MediumItalic.woff2") format("woff2"),
url("fonts/IBMPlexSerif-MediumItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: bold;
}

@font-face{
    font-family:"BusinessHistory";
    src: url("fonts/00BusinessHistory-Regular.woff2") format("woff2")
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 3.2em;
    text-align: left;
    background: #ebeced;
    height: 100vh;
    cursor: default;
    overflow: hidden;
    cursor: crosshair;
}


p{
    font-family: "IBMplexSerif-Regular";
	line-height: 112%;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 2;
    color: black;
   }

em{
    font-family: "IBMplexSerif-Italic";
    color: black;
    text-decoration: none;}

a:link, a:visited{
    font-family: "IBMplexSerif-Italic";
    font-style: italic;
    color: black;
    text-decoration: none;
}


a:hover, a:active {
	font-family: "IBMplexSerif-Italic";
    color: ghostwhite;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(100,100,237,0.7), 0 0 3px cornflowerblue;
    cursor: ne-resize;
     } 

::selection {
    background-color: transparent;
    color: #ebeced;
    text-shadow: 1px 1px 1px #444, -1px -1px 1px white;}

span{
    font-family: "IBMplexSerif-Italic";
    font-style: italic;
    color: black;
    text-decoration: none;
    cursor: sw-resize;

}

span:hover {cursor: sw-resize;}

img{
    display: none;
    z-index: -1;
    position: absolute;
    float: left;
    bottom: 17px;
    left: 17px; 
    max-width: 45vw;
    max-height: 90vh;
}


/*-caption-*/

.caption {
    position:fixed;
    bottom: 0;
    float: left;
    left: 50vw;
    z-index: 999;
    font-family: "IBMplexSerif-Regular";
    color: cornflowerblue;
    font-size: 0.3em;
}



span:hover + img{display: block;}






/*-CV-*/

#cv{
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 11;
    padding-bottom: 85px;
    padding-right: -50px;}


.fleche{
    font-family: "BusinessHistory";
    font-size: 1.3em;
    position: fixed;
    right:8px;
    bottom: -40px ;
    color: #ebeced;
    text-shadow: 1px 1px 1px #444, -1px -1px 1px white;
    z-index: 9999;}


.fleche:active{text-shadow: 1px 1px 1px white, -1px -1px 1px #444;}

#demo:hover{cursor: row-resize;}

.cv {
    width: 100vw;
    height: 0;
    overflow: scroll;
    margin-bottom: -5.5vw;
    margin-right: 1.2vw;
    padding-right: 50px;
}



input{display: none;}
input:checked + .cv{height: auto;}

.column{
    width: 23%;
    float:left;
    padding: 5px;
}

.column2{
    width: 12%;
    float:left;
    padding: 5px;
}

.cv-titles{
    font-family: "IBMPlexSerif-MediumItalic";
    font-style: normal;
}

.cv-text{
    font-family: "IBMPlexMono-Regular";
    font-size: 0.3em;}

a.two  {
    font-family: "IBMPlexMono-Regular";
    font-style: normal;
    text-shadow: "";
    text-decoration: underline;
}

a.two:hover  {
    font-family: "IBMPlexMono-Regular";
    font-style: normal;
    text-shadow: none;
    text-decoration-color: cornflowerblue; 
    color: black;
    cursor: ne-resize;}


a.three  {
    font-family: "IBMPlexMono-Regular";
    font-style: normal;
    text-shadow: "";
    text-decoration: underline;
    text-decoration-style: dotted;
}

a.three:hover  {
    font-family: "IBMPlexMono-Regular";
    font-style: normal;
    text-shadow: none;
    text-decoration-color: cornflowerblue; 
    color: cornflowerblue;
    cursor: nw-resize;}


#phone{display: none;}

@media screen and (max-width: 768px){
    body{overflow: hidden; margin: 0;}
    p{font-size: 0.4em;}
    span{}
    span:hover + img{display: none;}
    #cv{width: 100vw; height: 100vh;  overflow: hidden; top: 0;}
    .blur{height: 200vh; z-index: 1;}
    #phone{display: block;}
    img{display: none; max-width: 94vw; position: relative; padding-top: 8px;
    max-height: 94vh;
    left: 50%;    
    transform: translate(-50%);}
    .column{display: flex; width: 47%; float: left;}
    .column2{width: 20%; float: left;}
    .cv-text{font-size: 0.2em;}
    .fleche{font-size: 0.9em; z-index: 10;
    position: fixed;
    bottom: -35px;
    right: 5px; }
    }

@supports (backdrop-filter: none) {
	.blur {backdrop-filter: blur(10px);
           background-color: rgba(255, 255, 255, 0.3);}}

@supports not (backdrop-filter: none) {
  .blur {background-color: rgba(255, 255, 255, 0.93);}}
