/*-FONTS-*/
@font-face{
	font-family: "Trirong", serif;
    src: url("FONTS/TRIRONG/Trirong-Medium.woff") format("woff"),
    url("FONTS/TRIRONG/Trirong-Medium.woff2") format("woff2"),
    url("FONTS/TRIRONG/Trirong-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;}


@font-face{
	font-family: "TrirongItalic", serif;
    src: url("FONTS/TRIRONG/Trirong-MediumItalic.woff") format("woff"),
    url("FONTS/TRIRONG/Trirong-MediumItalic.woff2") format("woff2"),
    url("FONTS/TRIRONG/Trirong-MediumItalic.ttf") format("ttf");
    font-weight: normal;
    font-style: italic;}

/*-MAIN-*/

body{ 
    margin-left: 0;
    margin-right: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    cursor: default;
    padding-left: 1.2vw;
    padding-right: 1.2vw;}

.long{
    border-top: 1px solid black;
    margin-left: -1.2vw;
    margin-right: -1.2vw;
    margin-bottom: -1px;
    margin-top: -1px;}

.long-2{
    border-top: 1px solid black;
    margin-left: -1.2vw;
    margin-right: -1.2vw;
    margin-bottom: -18px;
    margin-top: -1px;}


.small{
    border-top: 1px solid black;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1em;}

.small-index{
    border-top: 1px solid black;
    margin-top: -4px;
    margin-bottom: 0;
   float: left;
width: 72.4vw;}

 h2{
     font-family: "Trirong";
     font-size: 1.8em;
     margin: 0;
     font-weight: normal;
     line-height: 1;} 

 h1{
     font-family: "Trirong";
     font-size: 2.5em;
     margin: 0;
     font-weight: normal;
     line-height: 1.1;
     padding-top: 5px;} 

p{font-family: "Trirong";
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1;}

em{line-height: 1.1;}

.description{
    font-family: "Trirong";
    font-size: 1em;
line-height: 1.1em;}

a:link, a:visited{
    font-family: "Trirong";
    text-decoration: none;
    color: #FC653D;}

a:hover{
    font-style: italic;
    color: mediumpurple;
    transition: 0.5s;}

::-moz-selection { /* Code for Firefox */color: #FC653D;}
::selection {color: #FC653D;}

img{width: 100%;}
.borderimg{border: 1px solid lightgray;}

img:hover{
    filter: drop-shadow(5px 5px 2px #FC653D);
    transition: 0.5s;
    cursor: nwse-resize;}

video:focus{outline: none;}

/*-Projects titles-*/

.flexbox-container {
    display: flex;
    padding-top: 50px;}

.flexbox-item1 {
    width: 75vw;
    align-items: center;}

.flexbox-item-first {
    width: 75vw;
    align-items: center;    
    margin-top: 0;}

.flexbox-item2 {
    width: 25vw;
    margin-top: auto;
    margin-bottom: -0.9em;
    justify-items: flex-start;
    padding-left: 2.4em;}

.flexbox-container-index {
display: flex;
justify-items: flex-start;}

.flexbox-container-index:hover {
    transition: 0.3s;
    cursor: s-resize;}


.flexbox-index, .flexbox-about{float: left; margin-top:inherit; margin-right: 1em;}
.flexbox-index{width: 33%;} .flexbox-about{width: 25%;}


.flexbox-container-about {
    display: flex;
    padding-top: 0;
    margin-bottom: 10vh;
    }

.flexbox-item-3 {
    width: 25%; 
    margin-top: auto;
    text-align: right;
}



/*-Projects images-*/

.grid-container{
    display: grid;
    margin: 0;
    width: 75vw;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.2em;
    grid-row-gap: 1em;
    justify-items: flex-start;
    justify-content: flex-start;}

.grid-container-2{
    display: grid;
    margin: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.2em;
    grid-row-gap: 1em;
    justify-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0;}


.grid-item-big{
    grid-column: span 3;
    grid-row: span 1;}

.grid-item-big-1{
    grid-column: span 3;
    grid-row: span 2;}

.grid-item-medium{
    grid-column: span 2;
    grid-row: span 2;}

.grid-item-medium-1{
    grid-column: span 2;
    grid-row: span 3;}

.grid-item-medium-2{
    grid-column: span 2;
    grid-row: span 1;}

.grid-item-small{
    grid-column: span 1;
    grid-row: span 1;
    margin-top: inherit;}

.grid-item-small-3{
    grid-column: span 1;
    grid-row: span 1;}


#text-column{
    display: flex;
    width: 25%;
    flex-flow: column;
    align-content: flex-end;
    padding-left: 1em;}



/*- Index -*/

#index{
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 0;
    padding-right: 1.2vw;
    padding-left: 1.2vw;
    padding-top: 3vh;
    margin-bottom: 1.9vw;
    left:0;    
    overflow-y: visible;
    z-index: 10;
    background-color: white;}


.index-container{}

.flexbox-index{padding-top: 9px;}


.idx{
    position: absolute;
    text-align: end;
    bottom: 0;
    margin-right: 1.2vw;
    margin-bottom: 0.2em;
    right: 2.4vw;
    line-height: 1;}

.language{
    position: absolute;
    text-align: left;
    padding-left: 1.2vw;
    bottom: 0;
    left: 0;
    margin-bottom: 0.2em;
}



/*- ABOUT -*/

#about{
    position: fixed;
    bottom: 0;
    padding-bottom: 3vw;
    background-color: white; 
    width: 100vw;
    margin-right: 1.2vw;
    left:0;
    padding-left: 1.2vw;
    z-index: 11;
}

#about  a {color: black;
text-decoration: underline;
text-decoration-style: dotted;}

#about a:hover{
    color: #FC653D;
}
.title{
    position: absolute;
    top: -0.1em;
}

 .about{
     position: absolute;
     right: 2.4vw;
     top: 0.8vw;
}

.abt{width:75%;
margin-top:-4px;}

.imgabout{
    display: none;
    background-color: #FC653D;
    z-index: 10;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



span{color: black;}
span:hover + .imgabout{display: block;}


/*- sub-pages -*/

input {display: none;}

label {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
    color: black; 
    z-index: 10;}

label:hover {
    font-style: italic;
    color:#FC653D;
    transition: 0.3s;cursor: s-resize;}


/*--idx--*/

.test {
background-color: white;
-webkit-transition: height 0.5s linear;
height: 0;
overflow: scroll;
width: 72.4vw;
margin-top: -4vh;
margin-bottom: 3vh;
border-bottom: 1px solid black;
}

input:checked + .test {height: 36vh;}


/*--abt--*/

input-2 {display: none;}

.test-2 {
    -webkit-transition: all 0.5s linear;
    height: 0;
    overflow: scroll;
    margin-bottom: -3vw;
    margin-right: 1.2vw;
    padding-right: 50px;
    top: -1vh;
    background: white;
}

input:checked + .test-2{height: 60vh;}


.social-media{
    position: absolute;
    top: 7vh;
    right: 2.5vw;
    z-index: 6;
    justify-content: flex-end;
    text-align: right;}



/*--lightbox--*/


#lightbox {
    position: fixed;
    z-index: 20;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    width: 95%;
    height: 95%;
    object-fit: contain;
    cursor: default;}

#lightbox img:hover {filter: none;}




/*--PHONE--*/

.computer{display: block;}
.mobile{display: none;}

@media screen and (max-width: 1280px){
    h1{font-size: 2.2em;}
    h2{font-size: 1.7em;}
}

@media screen and (max-width: 718px){
    body{
        width: 100vw;
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
    cursor: default;
    overflow-x: hidden;}
    h1{ font-size: 20px;
        line-height: 1.2;}
    h2{font-size: 18px;}
    p{font-size: 16px;
    margin-bottom: 0;
    line-height: 1.1em;}
    
    img:hover{filter: none;}
    a{font-style: italic;}
 
    .imgabout{position: absolute;
    display: block;
    z-index: -10;
    width: 75%;}
    #accordion{margin: 0.5em;}
    #accordion-top{margin-left: 0.5em; margin-right:0.5em;}
    .abt{width: 100%;}
    
    .small .long{margin-top: 0;}
    .small{margin-bottom: 15px; width: 95.2vw;}
    .long{margin-top: 0.2em; margin-bottom: 0.6em;}

    .cv{font-size: 12px;
    line-height: 14px}
    .flexbox-container{padding-top: 0;}
    .flexbox-item1{width: 90%; float: left;}
    .flexbox-item2{width: 9%; float: right; text-align: end; margin-bottom: 0; }
    .contact{width: 33%; float: left;}
    #lightbox.active{display: none;}
    #accordion-top  a {color: black;
text-decoration: underline;
text-decoration-style: dotted;}
    
    main{margin-bottom: 2em;}    
    
.sequence{
    height: 40vh;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 1em;
    object-position: center;}
    
.landscape{object-fit: cover; height: 100%; vertical-align: middle;}
    
.portrait, .square{max-height: 100%; object-fit: contain;}
.portrait{object-position: left;}
.square{object-position: 50% 50%; }
    
    
footer {position:fixed;
   bottom:0;
   width:100%;
   height: 40px;   /* Height of the footer */
   background:white;
    border-top: 1px solid black;}
.sitemessage {
  display: inline-block;
font-style: italic;
  white-space: nowrap;
  animation: floatText 10s infinite linear;
  padding-left: 100%; 
margin-top: 8px;
/*Initial offset*/}
/*.sitemessage:hover {animation-play-state: paused;}*/
@keyframes floatText {to {transform: translateX(-100%);}}

    
}



